beautifulsoup4==4.12.2
folium==0.12.1.post1
fuzzywuzzy==0.18.0
mapbox==0.18.1
mysql_connector_repackaged==0.3.1
mysql-connector-python==8.0.30
numpy==1.25.0
pandas==1.4.3
pdfcrowd==5.11.0
price_parser==0.3.4
requests==2.28.1
shapely==2.0.1
SQLAlchemy==1.4.39
streamlit==1.14.0
streamlit_folium==0.6.15
sklearn==1.1.1